#content{
	position: absolute;
	background-image: url(../image/login_main.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: calc(100% - 66px);
}
#footer{
	position: fixed;
	bottom: 0;
	height: 30px;
	width:100vw;
}
#login_form{
	margin-top: 10vh;
}
.myicon{
	width: 25px;
	height: 25px;
}
.prompt-text{
	height: 1em;
}
#login-prompt{
	position: absolute;
	left: 10%;
	top:2%;
}